workflows/exports/jarvis-day-1-foundation-test_8hAw06CibkHYt7WT.json
{
  "updatedAt": "2025-12-28T06:30:00.503Z",
  "createdAt": "2025-12-28T06:05:06.534Z",
  "id": "8hAw06CibkHYt7WT",
  "name": "Jarvis - Day 1 Foundation Test",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -128
      ],
      "id": "49b76781-0137-4030-89d1-5ffa9bdc7afa",
      "name": "Telegram Trigger",
      "webhookId": "1e00637b-19dd-46e1-a2a1-821afbc833b4",
      "credentials": {
        "telegramApi": {
          "id": "dXdxlG7dxypTvnC9",
          "name": "NemoAI"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.message.from.username }}"
            },
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $json.message.from.first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -128
      ],
      "id": "6324e7df-4236-4ea5-9309-1550c03ef21b",
      "name": "Upsert User",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=\u2705 Jarvis Connected!  \n\n\ud83d\udc64 Welcome: {{ $('Telegram Trigger').item.json.message.from.first_name }} \n\ud83c\udd94 Your ID: {{ $json.telegram_id }}\n\ud83d\udcc5 Registered: {{ $now.format('yyyy-MM-dd HH:mm') }}  \n\n\ud83e\udd16 I'm ready to assist you!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -128
      ],
      "id": "8a4afcc6-59b3-43ae-ba2c-57e78b22480a",
      "name": "Send a text message",
      "webhookId": "7453cb79-ee92-4998-bfdd-712a99febf1f",
      "credentials": {
        "telegramApi": {
          "id": "dXdxlG7dxypTvnC9",
          "name": "NemoAI"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5f518146-9402-4cc3-988d-dc4c02e51534",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-28T06:05:06.537Z",
      "createdAt": "2025-12-28T06:05:06.537Z",
      "role": "workflow:owner",
      "workflowId": "8hAw06CibkHYt7WT",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}