workflows/exports/nemo-calendar-manager_GTRv70JqhEekrbLN.json
{
  "updatedAt": "2026-01-10T18:28:03.356Z",
  "createdAt": "2026-01-04T15:47:22.953Z",
  "id": "GTRv70JqhEekrbLN",
  "name": "Nemo - Calendar Manager",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "start_time"
            },
            {
              "name": "end_time"
            },
            {
              "name": "summary"
            },
            {
              "name": "attendee_email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        0
      ],
      "id": "53fa7273-2e51-40e1-ad46-9be7da9c0d40",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8208eddb-d52b-4012-8a55-2c821e77bf5c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b793344-1940-4b04-8583-59a665d791f4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "95e4ea17-18b1-4cdf-a768-f8dd96fb9c2f",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "therswamhtetai@gmail.com",
          "mode": "list",
          "cachedResultName": "therswamhtetai@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.start_time }}",
        "timeMax": "={{ $json.end_time }}",
        "options": {
          "recurringEventHandling": "expand"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        400,
        -128
      ],
      "id": "547af4d0-e7c9-47b2-912f-af341312c59c",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Tg4EGHG42FxepYAW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "therswamhtetai@gmail.com",
          "mode": "list",
          "cachedResultName": "therswamhtetai@gmail.com"
        },
        "start": "={{ $('Execute Workflow Trigger').item.json.start_time }}",
        "end": "={{ $('Execute Workflow Trigger').item.json.end_time }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Execute Workflow Trigger').item.json.attendee_email || undefined }}"
          ],
          "summary": "={{ $('Execute Workflow Trigger').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        400,
        96
      ],
      "id": "f599996b-d497-47f0-b5ee-35d0259d1441",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Tg4EGHG42FxepYAW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\n\n// Data \u1019\u101b\u103e\u102d\u101b\u1004\u103a (\u101e\u102d\u102f\u1037) ID \u1019\u1015\u102b\u101b\u1004\u103a Free \u101c\u102d\u102f\u1037 \u101e\u1010\u103a\u1019\u103e\u1010\u103a\u1019\u101a\u103a\nif (events.length === 0 || !events[0].json.id) {\n  return { json: { status: \"free\", message: \"\u1012\u102e\u1021\u1001\u103b\u102d\u1014\u103a\u1019\u103e\u102c \u1021\u102c\u1038\u1015\u102b\u1010\u101a\u103a Boss\u104b Meeting \u1019\u101b\u103e\u102d\u1015\u102b\u1018\u1030\u1038\u104b\" } };\n}\n\n// \u101b\u103e\u102d\u1014\u1031\u101b\u1004\u103a List \u1011\u102f\u1010\u103a\u1015\u103c\u1019\u101a\u103a\nconst conflicts = events.map(e =>\n  `- ${e.json.summary} (${e.json.start.dateTime || e.json.start.date})`\n).join(\"\\n\");\n\nreturn { json: { status: \"busy\", message: `\u1012\u102e\u1021\u1001\u103b\u102d\u1014\u103a\u1019\u103e\u102c \u1019\u1021\u102c\u1038\u1015\u102b\u1018\u1030\u1038\u104b \u101b\u103e\u102d\u1014\u1031\u1010\u1032\u1037 Meeting \u1010\u103d\u1031\u1000:\\n${conflicts}` } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -128
      ],
      "id": "0a2cae22-f1ba-4360-806f-da960457432f",
      "name": "Summary"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "action": "schedule",
          "start_time": "2024-05-23T10:00:00Z",
          "end_time": "2024-05-23T11:00:00Z",
          "summary": "Marketing Meeting",
          "attendee_email": "therswamhtet@gmail.com"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "74f61f02-112b-4b85-9711-b5c2674bf985",
  "activeVersionId": "74f61f02-112b-4b85-9711-b5c2674bf985",
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-04T15:47:22.957Z",
      "createdAt": "2026-01-04T15:47:22.957Z",
      "role": "workflow:owner",
      "workflowId": "GTRv70JqhEekrbLN",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-04T16:32:14.000Z",
    "createdAt": "2026-01-04T16:30:32.105Z",
    "versionId": "74f61f02-112b-4b85-9711-b5c2674bf985",
    "workflowId": "GTRv70JqhEekrbLN",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "action"
              },
              {
                "name": "start_time"
              },
              {
                "name": "end_time"
              },
              {
                "name": "summary"
              },
              {
                "name": "attendee_email"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -48,
          0
        ],
        "id": "53fa7273-2e51-40e1-ad46-9be7da9c0d40",
        "name": "Execute Workflow Trigger"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "check",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8208eddb-d52b-4012-8a55-2c821e77bf5c"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0b793344-1940-4b04-8583-59a665d791f4",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "schedule",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          160,
          0
        ],
        "id": "95e4ea17-18b1-4cdf-a768-f8dd96fb9c2f",
        "name": "Switch",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "therswamhtetai@gmail.com",
            "mode": "list",
            "cachedResultName": "therswamhtetai@gmail.com"
          },
          "returnAll": true,
          "timeMin": "={{ $json.start_time }}",
          "timeMax": "={{ $json.end_time }}",
          "options": {
            "recurringEventHandling": "expand"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          400,
          -128
        ],
        "id": "547af4d0-e7c9-47b2-912f-af341312c59c",
        "name": "Get many events",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "Tg4EGHG42FxepYAW",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "therswamhtetai@gmail.com",
            "mode": "list",
            "cachedResultName": "therswamhtetai@gmail.com"
          },
          "start": "={{ $('Execute Workflow Trigger').item.json.start_time }}",
          "end": "={{ $('Execute Workflow Trigger').item.json.end_time }}",
          "additionalFields": {
            "attendees": [
              "={{ $('Execute Workflow Trigger').item.json.attendee_email || undefined }}"
            ],
            "summary": "={{ $('Execute Workflow Trigger').item.json.summary }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          400,
          96
        ],
        "id": "f599996b-d497-47f0-b5ee-35d0259d1441",
        "name": "Create an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "Tg4EGHG42FxepYAW",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const events = $input.all();\n\n// Data \u1019\u101b\u103e\u102d\u101b\u1004\u103a (\u101e\u102d\u102f\u1037) ID \u1019\u1015\u102b\u101b\u1004\u103a Free \u101c\u102d\u102f\u1037 \u101e\u1010\u103a\u1019\u103e\u1010\u103a\u1019\u101a\u103a\nif (events.length === 0 || !events[0].json.id) {\n  return { json: { status: \"free\", message: \"\u1012\u102e\u1021\u1001\u103b\u102d\u1014\u103a\u1019\u103e\u102c \u1021\u102c\u1038\u1015\u102b\u1010\u101a\u103a Boss\u104b Meeting \u1019\u101b\u103e\u102d\u1015\u102b\u1018\u1030\u1038\u104b\" } };\n}\n\n// \u101b\u103e\u102d\u1014\u1031\u101b\u1004\u103a List \u1011\u102f\u1010\u103a\u1015\u103c\u1019\u101a\u103a\nconst conflicts = events.map(e =>\n  `- ${e.json.summary} (${e.json.start.dateTime || e.json.start.date})`\n).join(\"\\n\");\n\nreturn { json: { status: \"busy\", message: `\u1012\u102e\u1021\u1001\u103b\u102d\u1014\u103a\u1019\u103e\u102c \u1019\u1021\u102c\u1038\u1015\u102b\u1018\u1030\u1038\u104b \u101b\u103e\u102d\u1014\u1031\u1010\u1032\u1037 Meeting \u1010\u103d\u1031\u1000:\\n${conflicts}` } };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -128
        ],
        "id": "0a2cae22-f1ba-4360-806f-da960457432f",
        "name": "Summary"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thomas Htet",
    "name": "Version 74f61f02",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-04T16:32:14.053Z",
        "id": 34,
        "workflowId": "GTRv70JqhEekrbLN",
        "versionId": "74f61f02-112b-4b85-9711-b5c2674bf985",
        "event": "activated",
        "userId": "f7f3363d-82da-4e53-bec2-260941d606e3"
      }
    ]
  }
}