workflows/exports/nemo-auth-system_OPF7ii_KCDkOlZiJqT-BE.json
{
  "updatedAt": "2026-01-26T06:58:53.604Z",
  "createdAt": "2026-01-15T10:24:13.059Z",
  "id": "OPF7ii_KCDkOlZiJqT-BE",
  "name": "Nemo - Auth System",
  "description": "Auth System",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "45c18fff-4f54-481c-86cd-3891c6ddf72a",
      "name": "Webhook",
      "webhookId": "42cd6472-9bdf-4130-8bdf-622a026fa5d2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "condition": "eq",
              "keyValue": "={{ $json.body.username }}"
            },
            {
              "keyName": "password",
              "condition": "eq",
              "keyValue": "={{ $json.body.password }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a1f6a070-b3bf-4329-aca7-1cc417098daf",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f85cf9b-2c3c-4ef4-91b2-9fba8676bef9",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "fced0032-612f-4d09-bab4-b6db5203ca11",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nreturn {\n  json: {\n    success: true,\n    user_id: user.id,\n    full_name: user.full_name,\n    telegram_id: user.telegram_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -144
      ],
      "id": "1e71c533-ad21-45af-b965-077d0f907754",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -144
      ],
      "id": "9558c61a-abd2-4809-b7ed-df30c51e1ff4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        96
      ],
      "id": "76163d8a-a6e6-4275-afed-c7685d1aba26",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "admin.orcadigital.online",
            "user-agent": "node",
            "content-length": "40",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "44.201.143.107",
            "cf-ipcountry": "US",
            "cf-ray": "9c3e1dd67bc007ff-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "69a6f1ed-3a5a-4a25-8e76-f32ecee47576",
            "connection": "keep-alive",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-api-key": "6ikSJFOdLiiW8xIsLd21bluSlOaTB1c/k9cfbwEx24E=",
            "x-forwarded-for": "44.201.143.107",
            "x-forwarded-proto": "https",
            "x-vercel-id": "sin1::nnqbh-1769410650474-10cd6efdcf0c"
          },
          "params": {},
          "query": {},
          "body": {
            "username": "yemin",
            "password": "123456"
          },
          "webhookUrl": "https://admin.orcadigital.online/webhook/auth/login",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "47fdeffd-182b-42db-b68a-0c32d861359a",
  "activeVersionId": "47fdeffd-182b-42db-b68a-0c32d861359a",
  "versionCounter": 17,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-15T10:24:13.066Z",
      "createdAt": "2026-01-15T10:24:13.066Z",
      "role": "workflow:owner",
      "workflowId": "OPF7ii_KCDkOlZiJqT-BE",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-26T06:58:55.000Z",
    "createdAt": "2026-01-26T06:58:53.605Z",
    "versionId": "47fdeffd-182b-42db-b68a-0c32d861359a",
    "workflowId": "OPF7ii_KCDkOlZiJqT-BE",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "auth/login",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "45c18fff-4f54-481c-86cd-3891c6ddf72a",
        "name": "Webhook",
        "webhookId": "42cd6472-9bdf-4130-8bdf-622a026fa5d2"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "users",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "username",
                "condition": "eq",
                "keyValue": "={{ $json.body.username }}"
              },
              {
                "keyName": "password",
                "condition": "eq",
                "keyValue": "={{ $json.body.password }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "a1f6a070-b3bf-4329-aca7-1cc417098daf",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "JbItbwVcQiGCLFAC",
            "name": "NemoAIDatabase"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2f85cf9b-2c3c-4ef4-91b2-9fba8676bef9",
                "leftValue": "={{ $input.all().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "fced0032-612f-4d09-bab4-b6db5203ca11",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const user = $input.first().json;\nreturn {\n  json: {\n    success: true,\n    user_id: user.id,\n    full_name: user.full_name,\n    telegram_id: user.telegram_id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          -144
        ],
        "id": "1e71c533-ad21-45af-b965-077d0f907754",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          832,
          -144
        ],
        "id": "9558c61a-abd2-4809-b7ed-df30c51e1ff4",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          848,
          96
        ],
        "id": "76163d8a-a6e6-4275-afed-c7685d1aba26",
        "name": "Respond to Webhook1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thomas Htet",
    "name": "Version 47fdeffd",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-26T06:58:55.550Z",
        "id": 381,
        "workflowId": "OPF7ii_KCDkOlZiJqT-BE",
        "versionId": "47fdeffd-182b-42db-b68a-0c32d861359a",
        "event": "activated",
        "userId": "f7f3363d-82da-4e53-bec2-260941d606e3"
      }
    ]
  }
}