workflows/exports/nemo-save-to-memory-tool_wNgClCaTC4qSw4er.json
{
  "updatedAt": "2026-01-10T18:29:06.182Z",
  "createdAt": "2025-12-28T07:40:32.880Z",
  "id": "wNgClCaTC4qSw4er",
  "name": "Nemo - Save to Memory Tool",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content"
            },
            {
              "name": "user_id"
            },
            {
              "name": "content_type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        0
      ],
      "id": "6b75307b-e8c2-4d85-8182-ebf59e402d0f",
      "name": "Memory Save Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"taskType\": \"RETRIEVAL_DOCUMENT\",\n  \"title\": \"Memory\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": {{ JSON.stringify($('Memory Save Input').item.json.content) }}\n    }]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "ff6fb5bc-6904-4568-855b-3e623d0a9427",
      "name": "Generate Embedding",
      "credentials": {
        "googlePalmApi": {
          "id": "qJ3tJlGTxwiZCORz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "knowledge_base",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Memory Save Input').first().json.content }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Memory Save Input').first().json.user_id }}"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "={{ $('Memory Save Input').first().json.content_type }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $json.embedding.values }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={\"timestamp\": \"{{ $now.toISO() }}\"}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "60a56347-236e-42d7-b177-0efde7498e4d",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.content || '';\n\n// Clean the content - remove special characters that break JSON\nconst cleanContent = content\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, ' ')\n  .replace(/\\r/g, ' ')\n  .replace(/\\t/g, ' ');\n\nreturn [{\n  json: {\n    content: $json.content,\n    user_id: $json.user_id,\n    content_type: $json.content_type,\n    requestBody: {\n      content: {\n        parts: [\n          {\n            text: cleanContent\n          }\n        ]\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ],
      "id": "1785fb7c-0fc1-4303-b770-8e2a9c5f1231",
      "name": "Prepare Request"
    }
  ],
  "connections": {
    "Memory Save Input": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Memory Save Input": [
      {
        "json": {
          "content": "User: 1.  Sale Report: \u1019\u1014\u1000\u103a\u1016\u103c\u1014\u103a \u100a\u1014\u1031 \u1043 \u1014\u102c\u101b\u102e \u101c\u102f\u1015\u103a\u1019\u101a\u103a\u104b\n2.  Date Error: \u1001\u102f\u1014\u1000 \u101b\u1000\u103a\u1005\u103d\u1032 \u1019\u103e\u102c\u1038\u1015\u103c\u1031\u102c\u1019\u102d\u1010\u102c (\u1042\u1040\u1042\u1044 \u1019\u1031\u101c \u1042\u1043) \u1000\u102d\u102f \u1015\u103c\u1004\u103a\u1006\u1004\u103a\u1015\u103c\u102e\u1038\u1015\u103c\u102e\u104b Assistant: \u1019\u103e\u1010\u103a\u101e\u102c\u1038\u1015\u103c\u102e\u1038\u1015\u102b\u1015\u103c\u102e\u104b\n\n**Saved Preferences/Notes:**\n1.  **Meeting Time:** Tomorrow 3 PM (Sale Report)\n2.  **Context:** Date correction noted.\n\n\u1014\u1031\u102c\u1000\u103a\u1011\u1015\u103a \u1018\u102c\u1019\u103e\u1010\u103a\u1005\u101b\u102c \u101b\u103e\u102d\u1015\u102b\u101e\u101c\u1032\u104b",
          "user_id": "fd5834eb-6141-4081-81d9-be36a0ced5dd",
          "content_type": "conversation"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4fc8bc27-d772-4185-b674-28814280f33b",
  "activeVersionId": "4fc8bc27-d772-4185-b674-28814280f33b",
  "versionCounter": 46,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-28T07:40:32.883Z",
      "createdAt": "2025-12-28T07:40:32.883Z",
      "role": "workflow:owner",
      "workflowId": "wNgClCaTC4qSw4er",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-04T20:30:09.000Z",
    "createdAt": "2026-01-04T20:30:07.374Z",
    "versionId": "4fc8bc27-d772-4185-b674-28814280f33b",
    "workflowId": "wNgClCaTC4qSw4er",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "content"
              },
              {
                "name": "user_id"
              },
              {
                "name": "content_type"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -240,
          0
        ],
        "id": "6b75307b-e8c2-4d85-8182-ebf59e402d0f",
        "name": "Memory Save Input"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/embedding-001:embedContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"taskType\": \"RETRIEVAL_DOCUMENT\",\n  \"title\": \"Memory\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": {{ JSON.stringify($('Memory Save Input').item.json.content) }}\n    }]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          0
        ],
        "id": "ff6fb5bc-6904-4568-855b-3e623d0a9427",
        "name": "Generate Embedding",
        "credentials": {
          "googlePalmApi": {
            "id": "qJ3tJlGTxwiZCORz",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "knowledge_base",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "content",
                "fieldValue": "={{ $('Memory Save Input').first().json.content }}"
              },
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $('Memory Save Input').first().json.user_id }}"
              },
              {
                "fieldId": "content_type",
                "fieldValue": "={{ $('Memory Save Input').first().json.content_type }}"
              },
              {
                "fieldId": "embedding",
                "fieldValue": "={{ $json.embedding.values }}"
              },
              {
                "fieldId": "metadata",
                "fieldValue": "={\"timestamp\": \"{{ $now.toISO() }}\"}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          432,
          0
        ],
        "id": "60a56347-236e-42d7-b177-0efde7498e4d",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "JbItbwVcQiGCLFAC",
            "name": "NemoAIDatabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const content = $json.content || '';\n\n// Clean the content - remove special characters that break JSON\nconst cleanContent = content\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, ' ')\n  .replace(/\\r/g, ' ')\n  .replace(/\\t/g, ' ');\n\nreturn [{\n  json: {\n    content: $json.content,\n    user_id: $json.user_id,\n    content_type: $json.content_type,\n    requestBody: {\n      content: {\n        parts: [\n          {\n            text: cleanContent\n          }\n        ]\n      }\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -16,
          0
        ],
        "id": "1785fb7c-0fc1-4303-b770-8e2a9c5f1231",
        "name": "Prepare Request"
      }
    ],
    "connections": {
      "Memory Save Input": {
        "main": [
          [
            {
              "node": "Prepare Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Embedding": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Request": {
        "main": [
          [
            {
              "node": "Generate Embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thomas Htet",
    "name": "Version 4fc8bc27",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-04T20:30:09.196Z",
        "id": 58,
        "workflowId": "wNgClCaTC4qSw4er",
        "versionId": "4fc8bc27-d772-4185-b674-28814280f33b",
        "event": "activated",
        "userId": "f7f3363d-82da-4e53-bec2-260941d606e3"
      }
    ]
  }
}