workflows/exports/nemo-main-router_OkFlg5I493MQFyjB.json
{
  "updatedAt": "2026-01-11T14:50:04.230Z",
  "createdAt": "2025-12-28T06:30:20.301Z",
  "id": "OkFlg5I493MQFyjB",
  "name": "Nemo - Main Router",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -416
      ],
      "id": "6c052884-a978-41a4-aa8c-6ef5c01a3404",
      "name": "Telegram Trigger",
      "webhookId": "2c1b9aba-827b-4c8f-bf79-e26968a14ce8",
      "credentials": {
        "telegramApi": {
          "id": "dXdxlG7dxypTvnC9",
          "name": "NemoAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.final_message }}",
        "options": {
          "systemMessage": "=You are NemoAI, an AI-powered Business Operating System acting as a \"Senior Strategic Partner.\"\n\n## Your Personality:\n- **DIRECT & HONEST:** Do not sugarcoat. Speak like a CEO/COO to another executive.\n- **CONCISE:** No fluff. No \"I hope this helps.\" No \"Hello, how are you?\" unless initiated. Get straight to the point.\n- **HIGH AGENCY:** Focus on solutions and next steps.\n- **NOT A PEOPLE PLEASER:** Do not be overly polite. Be effective.\n\n## Your Role:\nYou are the central brain. Your job is to understand the user's intent and intelligently route them to the correct tool.\n\n## Available Tools & When to Use Them:\n\n### 1. \ud83e\udde0 search_memory\nUse when user references past conversations, previous decisions, or asks \"Do you remember?\".\nTrigger words: \"\u1021\u101b\u1004\u103a\u1000\", \"\u1019\u103e\u1010\u103a\u1019\u102d\u101c\u102c\u1038\", \"previous\", \"before\", \"\u1015\u103c\u1031\u102c\u1001\u1032\u1037\u1010\u102c\"\n\n### 2. \ud83d\udc64 manage_preferences\nUse to LEARN user habits or CHECK preferences before making decisions.\n- Save: \"I hate morning meetings\", \"My email is...\", \"Remember that I like...\"\n- Retrieve: Check this before scheduling tasks (e.g., \"Check my meeting preference\").\n\n### 3. \ud83d\udcca analyze_business\nUse for deep strategy, planning, and business frameworks.\nTrigger scenarios: \"Business Plan\", \"4Ps\", \"SWOT\", \"ROI\", \"New Business Idea\", \"Marketing Strategy\".\n\n### 4. \ud83c\udf10 research_market\nUse for REAL-TIME information from the internet.\nTrigger scenarios: \"Price of gold\", \"Competitor analysis\", \"Latest news\", \"Exchange rates\", \"Search for...\".\n\n### 5. \ud83d\udcc5 ops_secretary\nUse for ACTIONS: Scheduling, Tasks, and Reminders.\nTrigger scenarios: \"Remind me\", \"Add to-do\", \"Schedule meeting\", \"Assign task\".\n*Note: If the user request is vague (e.g., \"Report\"), ask clarifying questions before calling this tool.*\n\n### 6. \ud83d\udca1 manage_ideas\nUse when user shares a new concept or idea.\n- Example: \"I have an idea for a coffee shop...\" -> Call manage_ideas (type='business')\n- Example: \"Write a post about productivity...\" -> Call manage_ideas (type='content')\n\n## Response Guidelines:\n- **Tool First:** If a tool fits, call it immediately. Do not say \"Let me check\".\n- **General Chat:** If no tool fits, answer directly using bullet points. Keep it under 3-4 sentences.\n- **Language:** Respond in the same language as the user (Myanmar/English).\n\n## Tone Example:\nUser: \"What is ROI?\"\nBad Response: \"ROI stands for Return on Investment. It is a very useful metric that helps you...\"\nGood Response: \"ROI (Return on Investment) measures profitability. Formula: (Net Profit / Cost of Investment) x 100. It tells you if a business is worth the money.\"\n\n## Current Context:\nCurrent Time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1504,
        -512
      ],
      "id": "d87f8e5b-5739-461c-9b11-6bdad37c3d07",
      "name": "Jarvis Brain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {
          "maxOutputTokens": 3000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        -192
      ],
      "id": "02991670-973e-4565-9999-f7743da8643d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qJ3tJlGTxwiZCORz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge User').first().json.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1120,
        -192
      ],
      "id": "9b2031ce-74e3-45ad-82b4-60bf7e5ce21f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1248,
        -192
      ],
      "id": "6beaf38d-b774-43d1-ae14-172285b9e905",
      "name": "Calculator"
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Merge User').item.json.id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Merge User').item.json.final_message || $('Telegram Trigger').item.json.text || $('Telegram Trigger').item.json.caption || \"[Photo Message]\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        -416
      ],
      "id": "890d398f-a16f-478d-9904-879d9c43bfc9",
      "name": "Save User Message",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Merge User').item.json.id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Jarvis Brain').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        -416
      ],
      "id": "bfa7d324-c341-49b5-98ae-63ea5816c5b8",
      "name": "Save AI Response",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $('Clean Response').first().json.cleanOutput }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        -416
      ],
      "id": "d612f74a-81c5-4ffd-a726-c0516b35be86",
      "name": "Send Reply",
      "webhookId": "6dce061d-4bf0-4b29-8162-bdcbe3a1fecf",
      "credentials": {
        "telegramApi": {
          "id": "dXdxlG7dxypTvnC9",
          "name": "NemoAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        -416
      ],
      "id": "f40bfbe1-2122-49a0-a683-0db832680367",
      "name": "Get User",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc36d3a9-2523-47ee-bd98-3405cc73f1bb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -416
      ],
      "id": "f5e60c0f-8db8-4ffb-826c-4b4b44dc4183",
      "name": "User Exists?"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.message.from.username }}"
            },
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $json.message.from.first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        -336
      ],
      "id": "407b0099-7505-4e70-9bb9-e78a9a56aa94",
      "name": "Create New User",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wNgClCaTC4qSw4er",
          "mode": "list",
          "cachedResultUrl": "/workflow/wNgClCaTC4qSw4er",
          "cachedResultName": "Jarvis - Save to Memory Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=User: {{ $('Telegram Trigger').item.json.message.text }} Assistant: {{ $('Jarvis Brain').item.json.output }}",
            "user_id": "={{ $('Merge User').item.json.id }}",
            "content_type": "conversation"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        -416
      ],
      "id": "b6485b1c-9dc1-4821-85c6-a4eb968ae1d2",
      "name": "Save to Long-term Memory"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $('Jarvis Brain').first().json.output || '';\nlet finalMessage = rawOutput;\n\nfinalMessage = finalMessage.replace(/\\[Used tools:[\\s\\S]*?\\]/g, '').trim();\n\ntry {\n  if (finalMessage.startsWith('{')) {\n    const data = JSON.parse(finalMessage);\n    if (data.analysis_type) {\n      let report = `\ud83d\udcca ${data.analysis_type} Strategy Report\\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n\\n\ud83d\udcdd Summary\\n${data.summary}\\n\\n`;\n      \n      if (data.data) {\n        Object.values(data.data).forEach(point => {\n           report += (typeof point === 'object' && point.title) \n             ? `\ud83d\udd39 ${point.title}\\n${point.details}\\n\\n` \n             : `\ud83d\udd39 ${point}\\n\\n`;\n        });\n      }\n      \n      report += `\ud83d\udca1 Expert Recommendation\\n${data.recommendation}`;\n      finalMessage = report;\n    }\n  }\n} catch (e) {}\n\nif (typeof finalMessage === 'string') {\n  finalMessage = finalMessage\n    .replace(/\\*\\*/g, '')  \n    .replace(/^#+\\s/gm, '') \n    .replace(/`/g, '')\n    .trim();\n}\n\nreturn [{\n  json: {\n    cleanOutput: finalMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        -416
      ],
      "id": "2360b7a4-146e-4772-927f-982900c8e5ca",
      "name": "Clean Response"
    },
    {
      "parameters": {
        "description": "=Analyze business ideas and provide strategic frameworks.\n\nUse this tool when user asks about:\n- Business plans or ideas\n- Marketing strategy (4Ps: Product, Price, Place, Promotion)\n- SWOT analysis\n- ROI calculations\n- Target audience or customer personas\n- Competitor analysis\n\nInput: A description of what business analysis is needed.",
        "workflowId": {
          "__rl": true,
          "value": "DvvZiJ0n2HvbkAax",
          "mode": "list",
          "cachedResultUrl": "/workflow/DvvZiJ0n2HvbkAax",
          "cachedResultName": "Jarvis - Business Strategist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $fromAI('user_message', 'The business question or idea to analyze') }}",
            "user_id": "={{ $('Merge User').first().json.id }}",
            "user_context": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_context', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_context",
              "displayName": "user_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1216,
        112
      ],
      "id": "993a84fb-7cf8-4527-90ca-caa9f8ec2672",
      "name": "analyze_business"
    },
    {
      "parameters": {
        "description": "Search past conversations and memories from the database. Use this when user asks about previous discussions, past decisions, or needs context from earlier conversations. \n\nInput: A search query describing what to find",
        "workflowId": {
          "__rl": true,
          "value": "volKVoT9R96UigzM",
          "mode": "list",
          "cachedResultUrl": "/workflow/volKVoT9R96UigzM",
          "cachedResultName": "Jarvis - Memory Retrieval Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', `What to search for`, 'string') }}",
            "user_id": "={{ $('Merge User').first().json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1376,
        112
      ],
      "id": "e267daac-85de-4305-8e09-f64dddbb8433",
      "name": "search_memory"
    },
    {
      "parameters": {
        "description": "Use this tool when user asks for REAL-TIME information, prices, news, or competitor analysis (e.g., 'Google search for...', 'Current price of...', 'Competitors of...').",
        "workflowId": {
          "__rl": true,
          "value": "Td29kBFdqAqSxBpo",
          "mode": "list",
          "cachedResultUrl": "/workflow/Td29kBFdqAqSxBpo",
          "cachedResultName": "Jarvis - Market Intel Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI(\"query\", \"What specifically should I search for?\") }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1536,
        112
      ],
      "id": "6e1c36d5-9038-41f7-8a49-999180b8104e",
      "name": "research_market"
    },
    {
      "parameters": {
        "description": "Use this tool to REMEMBER user habits or CHECK preferences.\n- If user says \"I like/hate X\", \"Remember that...\", set action='save', text='the preference'.\n- If you are planning a task/meeting and need to know user habits, set action='get', text='context'.",
        "workflowId": {
          "__rl": true,
          "value": "7g0eMB0yVqi8yMmQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/7g0eMB0yVqi8yMmQ",
          "cachedResultName": "Jarvis - Preference Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI(\"action\", \"save or get\") }}",
            "text": "={{ $fromAI(\"text\", \"The preference to save OR context to check\") }}",
            "user_id": "={{ $('Merge User').first().json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1696,
        112
      ],
      "id": "3056427f-e52a-4d55-bd05-3dcd44bba4e7",
      "name": "manage_preferences"
    },
    {
      "parameters": {
        "description": "For scheduling, tasks, to-do lists, and reminders.",
        "workflowId": {
          "__rl": true,
          "value": "M9qgqvtsa5nuHUQ3",
          "mode": "list",
          "cachedResultUrl": "/workflow/M9qgqvtsa5nuHUQ3",
          "cachedResultName": "Jarvis - Ops Secretary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $fromAI(\"user_message\") }}",
            "user_id": "={{ $('Merge User').first().json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1856,
        112
      ],
      "id": "7ccf11c4-9cd5-40f3-a0ad-eba4be643084",
      "name": "ops_secretary"
    },
    {
      "parameters": {
        "description": "Use this tool to manage contacts.\n- Action 'save': Use when user wants to save a contact or sends a business card image. Extract all info to 'query'.\n- Action 'search': Use when user asks for someone's email/phone (e.g., \"Find Ko Kyaw\"). Put the name in 'query'.",
        "workflowId": {
          "__rl": true,
          "value": "M61NswfHOOsFxrL6",
          "mode": "list",
          "cachedResultUrl": "/workflow/M61NswfHOOsFxrL6",
          "cachedResultName": "Nemo - Contact Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI(\"action\") }}",
            "query": "={{ $fromAI(\"query\") }}",
            "user_id": "={{ $('Merge User').first().json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1984,
        112
      ],
      "id": "7d13ae27-8f9f-48a4-9a74-6a418d461400",
      "name": "manage_contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1feebecf-38b4-44e1-bb45-c62a9ba1c768",
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        -416
      ],
      "id": "dd0d3c86-188b-4b0b-8c48-735ce3196c4a",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze this image in detail.\n- If it is a Business Card, extract Name, Phone, Email, Address, Company.\n- If it is a Document, summarize it.\n- If it is a generic photo, describe what you see.\nOutput ONLY the text description.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -352,
        -480
      ],
      "id": "fc626314-7123-4b48-8b36-61179ac63a00",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "qJ3tJlGTxwiZCORz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// \u1041. Vision \u1000 \u1019\u103c\u1004\u103a\u1010\u1032\u1037 \u1021\u1016\u103c\u1031 (Safe Extraction)\n// (Output \u1000 Object \u1016\u103c\u1005\u103a\u1014\u1031\u101b\u1004\u103a \u1005\u102c\u101e\u102c\u1038\u1015\u1032 \u101e\u102e\u1038\u101e\u1014\u1037\u103a\u1006\u103d\u1032\u1011\u102f\u1010\u103a\u1019\u101a\u103a)\nconst visionNode = $('Analyze an image').first();\nconst visionData = visionNode.json;\n\nlet visionText = \"\";\nif (visionData.text) {\n    visionText = visionData.text;\n} else if (visionData.content && visionData.content.parts) {\n    // Gemini Raw format ({ content: { parts: [{ text: \"...\" }] } })\n    visionText = visionData.content.parts[0].text;\n} else {\n    // \u1018\u102c\u1019\u103e\u1019\u1010\u103d\u1031\u1037\u101b\u1004\u103a \u101b\u103e\u102d\u1010\u102c\u1021\u1000\u102f\u1014\u103a String \u1015\u103c\u1031\u102c\u1004\u103a\u1038\u1019\u101a\u103a\n    visionText = JSON.stringify(visionData.content || visionData);\n}\n\n// \u1042. User \u101b\u102d\u102f\u1000\u103a\u101c\u102d\u102f\u1000\u103a\u1010\u1032\u1037 Caption (Safety Check)\nlet userCaption = \"No caption provided\";\ntry {\n    // .first() \u101e\u102f\u1036\u1038\u1010\u102c\u1000 Connection Error \u101e\u1000\u103a\u101e\u102c\u1005\u1031\u1015\u102b\u1010\u101a\u103a\n    const triggerData = $('Telegram Trigger').first().json;\n    userCaption = triggerData.text || triggerData.caption || \"No caption provided\";\n} catch (e) {\n    console.log(\"Trigger data not accessible in test mode.\");\n}\n\n// \u1043. \u1014\u103e\u1005\u103a\u1001\u102f\u1015\u1031\u102b\u1004\u103a\u1038\u1015\u103c\u102e\u1038 Output \u1011\u102f\u1010\u103a\u1019\u101a\u103a\nconst combinedMessage = `[IMAGE CONTEXT]: The user sent an image.\nAnalysis: ${visionText}\n\n[USER MESSAGE]: ${userCaption}`;\n\nreturn { json: { text: combinedMessage } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -480
      ],
      "id": "a4b5ddda-dd0c-433a-a256-0486da04d541",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// \u1041. \u101c\u1000\u103a\u101b\u103e\u102d\u101d\u1004\u103a\u101c\u102c\u1010\u1032\u1037 User Data\nconst userData = $input.item.json;\n\n// \u1042. Message \u1000\u102d\u102f \u1015\u103c\u1014\u103a\u101c\u102d\u102f\u1000\u103a\u101b\u103e\u102c\u1019\u101a\u103a\nlet finalMessage = \"\";\n\ntry {\n  // Vision \u101c\u1019\u103a\u1038\u1000\u103c\u1031\u102c\u1004\u103a\u1038 (Code in JavaScript) \u1000 \u101b\u103e\u102d\u1019\u101b\u103e\u102d \u1005\u1005\u103a\u1019\u101a\u103a\n  const visionNode = $('Code in JavaScript');\n  \n  if (visionNode && visionNode.first()) {\n      // Vision Path \u1000 \u101c\u102c\u101b\u1004\u103a \u1021\u1032\u1037\u1012\u102e\u1000 text \u1000\u102d\u102f \u101a\u1030\u1019\u101a\u103a\n      finalMessage = visionNode.first().json.text;\n  }\n} catch (e) {\n  // Vision Node \u1019 run \u1011\u102c\u1038\u101b\u1004\u103a \u1000\u103b\u1031\u102c\u103a\u1019\u101a\u103a\n}\n\n// \u1043. Vision \u1000 \u1019\u101b\u101b\u1004\u103a Telegram Trigger \u1000 \u101a\u1030\u1019\u101a\u103a\nif (!finalMessage) {\n    try {\n        const triggerData = $('Telegram Trigger').first().json;\n        \n        // \u26a0\ufe0f \u1012\u102e\u1014\u1031\u101b\u102c\u1019\u103e\u102c \u1021\u1013\u102d\u1000 \u1015\u103c\u1004\u103a\u1011\u102c\u1038\u1015\u102b\u1010\u101a\u103a\n        // Message object \u1021\u1031\u102c\u1000\u103a\u1019\u103e\u102c \u101b\u103e\u102d\u1019\u101b\u103e\u102d \u1021\u101b\u1004\u103a\u1005\u1005\u103a\u1019\u101a\u103a\n        const msg = triggerData.message || triggerData.edited_message || triggerData;\n        \n        finalMessage = msg.text || msg.caption || \"\";\n        \n    } catch (e) {\n        finalMessage = \"\"; // Error \u1010\u1000\u103a\u101b\u1004\u103a \u1021\u101c\u103d\u1010\u103a\u1011\u102c\u1038\u1019\u101a\u103a\n    }\n}\n\n// \u1044. Output \u1011\u102f\u1010\u103a\u1019\u101a\u103a\nreturn {\n  json: {\n    ...userData,\n    final_message: finalMessage || \"[No Message Content]\" // \u1018\u102c\u1019\u103e\u1019\u101b\u103e\u102d\u101b\u1004\u103a Debug \u101c\u102f\u1015\u103a\u101c\u102d\u102f\u1037\u101b\u1021\u1031\u102c\u1004\u103a \u1005\u102c\u1011\u100a\u1037\u103a\u1015\u1031\u1038\u1011\u102c\u1038\u1019\u101a\u103a\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -416
      ],
      "id": "fa21e299-61ca-4a03-bad8-4cfc84699b1c",
      "name": "Merge User"
    },
    {
      "parameters": {
        "description": "Use this tool to save new business ideas or content ideas.\nInputs: title, description, type (business/content/marketing).",
        "workflowId": {
          "__rl": true,
          "value": "rk_RR1SePy-TNVo68mZRu",
          "mode": "list",
          "cachedResultUrl": "/workflow/rk_RR1SePy-TNVo68mZRu",
          "cachedResultName": "Nemo - Idea Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $fromAI(\"title\") }}",
            "description": "={{ $fromAI(\"description\") }}",
            "type": "={{ $fromAI(\"type\", \"business\") }}",
            "user_id": "={{ $('Merge User').first().json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2128,
        112
      ],
      "id": "81131398-6a91-43b8-ab66-220fcc454986",
      "name": "manage_ideas"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Jarvis Brain": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Response": {
      "main": [
        [
          {
            "node": "Save to Long-term Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Merge User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New User": {
      "main": [
        [
          {
            "node": "Merge User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Long-term Memory": {
      "main": [
        [
          {
            "node": "Clean Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Response": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analyze_business": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_memory": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "research_market": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "manage_preferences": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ops_secretary": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "manage_contact": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User": {
      "main": [
        [
          {
            "node": "Jarvis Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manage_ideas": {
      "ai_tool": [
        [
          {
            "node": "Jarvis Brain",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 200790871,
          "message": {
            "message_id": 95,
            "from": {
              "id": 5913104251,
              "is_bot": false,
              "first_name": "TSH",
              "username": "lordtshark",
              "language_code": "en"
            },
            "chat": {
              "id": 5913104251,
              "first_name": "TSH",
              "username": "lordtshark",
              "type": "private"
            },
            "date": 1767548397,
            "text": "\u1004\u102b\u1037\u1000\u102d\u102f peter smith email \u101c\u1031\u1038\u1010\u1005\u103a\u1001\u103b\u1000\u103a\u1015\u1031\u1038\u1015\u1031\u1038\u1015\u102b"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "c6e38f1e-95f0-411f-9844-5d042ebe1d3a",
  "activeVersionId": null,
  "versionCounter": 102,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-28T06:30:20.304Z",
      "createdAt": "2025-12-28T06:30:20.304Z",
      "role": "workflow:owner",
      "workflowId": "OkFlg5I493MQFyjB",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}