workflows/exports/nemo-reminder-manager_FjbkrqqGmbowjkoL.json
{
  "updatedAt": "2026-01-24T17:47:23.783Z",
  "createdAt": "2026-01-23T22:09:39.819Z",
  "id": "FjbkrqqGmbowjkoL",
  "name": "Nemo - Reminder Manager",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "0b57cc0d-d303-4b78-a5ef-db44d2a8ded3",
      "name": "Reminder Input"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst action = input.action || 'create';\n\nreturn {\n  json: {\n    ...input,\n    action: action\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "62e5d2d5-f2fa-4732-9872-10afd2207cce",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0756a3f-0adc-41e8-94a9-c53a28ed6051",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "871ec8bf-fc11-463a-a91d-f26be0f10445",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1ecffcc-e91a-403c-8417-fddcd75da2a2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        512,
        -16
      ],
      "id": "b261a2ae-9acc-4bc9-b247-e8d862771f88",
      "name": "Action Switch"
    },
    {
      "parameters": {
        "tableId": "reminders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description || '' }}"
            },
            {
              "fieldId": "remind_at",
              "fieldValue": "={{ $json.remind_at }}"
            },
            {
              "fieldId": "task_id",
              "fieldValue": "={{ $json.task_id || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        -240
      ],
      "id": "ecbc8a01-ef1c-4c03-a36b-06a44e2bbfc2",
      "name": "Create Reminder",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reminders",
        "limit": 10,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "is_sent",
              "condition": "eq",
              "keyValue": "false"
            },
            {
              "keyName": "is_cancelled",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "6d5b9742-dee6-4c0f-be25-7f2b132458a6",
      "name": "List Reminders",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "reminders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.reminder_id }}"
            },
            {
              "fieldId": "is_cancelled",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "3450249a-6293-4cf6-aeef-2e423c0f97e7",
      "name": "Cancel Reminder",
      "credentials": {
        "supabaseApi": {
          "id": "JbItbwVcQiGCLFAC",
          "name": "NemoAIDatabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst action = $('Parse Input').first().json.action;\n\nlet response;\nif (action === 'create') {\n  const created = items[0].json;\n  response = { success: true, message: `Reminder set for ${created.remind_at}`, reminder_id: created.id };\n} else if (action === 'list') {\n  const reminders = items.map(i => ({ id: i.json.id, title: i.json.title, remind_at: i.json.remind_at }));\n  response = { success: true, reminders: reminders, count: reminders.length };\n} else if (action === 'cancel') {\n  response = { success: true, message: 'Reminder cancelled' };\n}\n\nreturn { json: response };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "928fed16-22e5-424c-bbaf-0091f94a8180",
      "name": "Format Response"
    }
  ],
  "connections": {
    "Reminder Input": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Create Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Reminders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancel Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reminder": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Reminders": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Reminder": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Reminder Input": [
      {
        "json": {
          "user_message": "Remind me to call the client in 10 minutes (at 5:35 PM).",
          "user_id": "fd5834eb-6141-4081-81d9-be36a0ced5dd",
          "remind_at": "2026-01-24T17:35:00+06:30",
          "action": "create",
          "reminder_id": "none",
          "title": "Call the client",
          "toolCallId": "05f30b8d-f4c5-4db3-8a7b-c5a4e582e146"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "bd110b72-9516-4ad9-91d5-65c283ab1447",
  "activeVersionId": "bd110b72-9516-4ad9-91d5-65c283ab1447",
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-23T22:09:39.822Z",
      "createdAt": "2026-01-23T22:09:39.822Z",
      "role": "workflow:owner",
      "workflowId": "FjbkrqqGmbowjkoL",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-24T17:47:26.000Z",
    "createdAt": "2026-01-24T17:47:23.785Z",
    "versionId": "bd110b72-9516-4ad9-91d5-65c283ab1447",
    "workflowId": "FjbkrqqGmbowjkoL",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "0b57cc0d-d303-4b78-a5ef-db44d2a8ded3",
        "name": "Reminder Input"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'create';\n\nreturn {\n  json: {\n    ...input,\n    action: action\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          0
        ],
        "id": "62e5d2d5-f2fa-4732-9872-10afd2207cce",
        "name": "Parse Input"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b0756a3f-0adc-41e8-94a9-c53a28ed6051",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "create",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "create"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "871ec8bf-fc11-463a-a91d-f26be0f10445",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "list",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "list"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d1ecffcc-e91a-403c-8417-fddcd75da2a2",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "cancel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancel"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          512,
          -16
        ],
        "id": "b261a2ae-9acc-4bc9-b247-e8d862771f88",
        "name": "Action Switch"
      },
      {
        "parameters": {
          "tableId": "reminders",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $json.user_id }}"
              },
              {
                "fieldId": "title",
                "fieldValue": "={{ $json.title }}"
              },
              {
                "fieldId": "description",
                "fieldValue": "={{ $json.description || '' }}"
              },
              {
                "fieldId": "remind_at",
                "fieldValue": "={{ $json.remind_at }}"
              },
              {
                "fieldId": "task_id",
                "fieldValue": "={{ $json.task_id || null }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          800,
          -240
        ],
        "id": "ecbc8a01-ef1c-4c03-a36b-06a44e2bbfc2",
        "name": "Create Reminder",
        "credentials": {
          "supabaseApi": {
            "id": "JbItbwVcQiGCLFAC",
            "name": "NemoAIDatabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "reminders",
          "limit": 10,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $json.user_id }}"
              },
              {
                "keyName": "is_sent",
                "condition": "eq",
                "keyValue": "false"
              },
              {
                "keyName": "is_cancelled",
                "condition": "eq",
                "keyValue": "false"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          800,
          0
        ],
        "id": "6d5b9742-dee6-4c0f-be25-7f2b132458a6",
        "name": "List Reminders",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "JbItbwVcQiGCLFAC",
            "name": "NemoAIDatabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "reminders",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "id",
                "fieldValue": "={{ $json.reminder_id }}"
              },
              {
                "fieldId": "is_cancelled",
                "fieldValue": "true"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          800,
          224
        ],
        "id": "3450249a-6293-4cf6-aeef-2e423c0f97e7",
        "name": "Cancel Reminder",
        "credentials": {
          "supabaseApi": {
            "id": "JbItbwVcQiGCLFAC",
            "name": "NemoAIDatabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst action = $('Parse Input').first().json.action;\n\nlet response;\nif (action === 'create') {\n  const created = items[0].json;\n  response = { success: true, message: `Reminder set for ${created.remind_at}`, reminder_id: created.id };\n} else if (action === 'list') {\n  const reminders = items.map(i => ({ id: i.json.id, title: i.json.title, remind_at: i.json.remind_at }));\n  response = { success: true, reminders: reminders, count: reminders.length };\n} else if (action === 'cancel') {\n  response = { success: true, message: 'Reminder cancelled' };\n}\n\nreturn { json: response };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          0
        ],
        "id": "928fed16-22e5-424c-bbaf-0091f94a8180",
        "name": "Format Response"
      }
    ],
    "connections": {
      "Reminder Input": {
        "main": [
          [
            {
              "node": "Parse Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Input": {
        "main": [
          [
            {
              "node": "Action Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Action Switch": {
        "main": [
          [
            {
              "node": "Create Reminder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "List Reminders",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cancel Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Reminder": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Reminders": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Reminder": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thomas Htet",
    "name": "Version bd110b72",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-24T17:47:26.244Z",
        "id": 338,
        "workflowId": "FjbkrqqGmbowjkoL",
        "versionId": "bd110b72-9516-4ad9-91d5-65c283ab1447",
        "event": "activated",
        "userId": "f7f3363d-82da-4e53-bec2-260941d606e3"
      }
    ]
  }
}