workflows/exports/nemo-market-intel-agent_Td29kBFdqAqSxBpo.json
{
  "updatedAt": "2026-01-18T04:06:36.459Z",
  "createdAt": "2026-01-02T05:18:02.789Z",
  "id": "Td29kBFdqAqSxBpo",
  "name": "Nemo - Market Intel Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        -16
      ],
      "id": "fd62538d-5f48-4e4f-a2a0-82edb869a631",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "toolDescription": "Search the live internet for real-time data, news, prices, and competitor research.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "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"
            },
            {
              "name": "query",
              "value": "={{ $fromAI(\"search_term\", \"The keyword to search on google\") }}"
            },
            {
              "name": "search_depth",
              "value": "basic"
            },
            {
              "name": "include_answer",
              "value": "basic"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        304,
        192
      ],
      "id": "f0abcdf9-09c7-4489-9347-c2d1de3f43ac",
      "name": "web_search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i1ZysJRbWJnno9ib",
          "name": "Tavily API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "727bdea9-5954-44b7-9f98-caec9e454aa1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -16
      ],
      "id": "b4a17b04-2be6-42d8-978e-a06c627d1d1b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        192
      ],
      "id": "a5a429f2-7df2-4bde-8bdc-cb7043260073",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qJ3tJlGTxwiZCORz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are the Market Intelligence Unit of NemoAI. Your job is to fetch REAL-TIME data from the internet.\n\n## Your Role:\n- Search the web using the `web_search` tool.\n- Summarize findings objectively.\n- Focus on numbers, dates, prices, and facts.\n- NO FLUFF. Just data.\n\n## \u26a0\ufe0f OUTPUT FORMAT (JSON ONLY)\nRespond in VALID JSON format:\n{\n  \"intent\": \"market_research\",\n  \"summary\": \"Direct answer to the user's question (e.g., 'Today's gold price is 38 Lakhs').\",\n  \"sources\": [\n    {\"title\": \"Source Name\", \"url\": \"link...\"}\n  ],\n  \"data\": {\n    \"point_1\": \"Fact 1\",\n    \"point_2\": \"Fact 2\",\n    \"point_3\": \"Fact 3\"\n  },\n  \"confidence_score\": 0.95\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -16
      ],
      "id": "686bdd78-312c-43f5-a0fc-908d0c1b92bd",
      "name": "The Researcher"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "The Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "The Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "The Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "The Researcher": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "USD to MMK exchange rate market price vs official rate today"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "153a266b-189b-4c2e-9864-767cc4c69ab9",
  "activeVersionId": "153a266b-189b-4c2e-9864-767cc4c69ab9",
  "versionCounter": 29,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-02T05:18:02.792Z",
      "createdAt": "2026-01-02T05:18:02.792Z",
      "role": "workflow:owner",
      "workflowId": "Td29kBFdqAqSxBpo",
      "projectId": "2vxUI2bijjASTGye",
      "project": {
        "updatedAt": "2025-12-21T18:16:07.221Z",
        "createdAt": "2025-12-21T11:35:31.290Z",
        "id": "2vxUI2bijjASTGye",
        "name": "Thomas Htet <therswamhtet@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7f3363d-82da-4e53-bec2-260941d606e3",
        "projectRelations": [
          {
            "updatedAt": "2025-12-21T11:35:31.290Z",
            "createdAt": "2025-12-21T11:35:31.290Z",
            "userId": "f7f3363d-82da-4e53-bec2-260941d606e3",
            "projectId": "2vxUI2bijjASTGye",
            "user": {
              "updatedAt": "2026-01-27T19:48:50.000Z",
              "createdAt": "2025-12-21T11:35:30.789Z",
              "id": "f7f3363d-82da-4e53-bec2-260941d606e3",
              "email": "therswamhtet@gmail.com",
              "firstName": "Thomas",
              "lastName": "Htet",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-21T18:16:19.430Z",
                "personalization_survey_n8n_version": "2.0.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OkFlg5I493MQFyjB",
                "userActivatedAt": 1766909496153,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767330017837
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-18T04:06:39.000Z",
    "createdAt": "2026-01-18T04:06:36.459Z",
    "versionId": "153a266b-189b-4c2e-9864-767cc4c69ab9",
    "workflowId": "Td29kBFdqAqSxBpo",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "query"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -128,
          -16
        ],
        "id": "fd62538d-5f48-4e4f-a2a0-82edb869a631",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "toolDescription": "Search the live internet for real-time data, news, prices, and competitor research.",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "api_key",
                "value": "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"
              },
              {
                "name": "query",
                "value": "={{ $fromAI(\"search_term\", \"The keyword to search on google\") }}"
              },
              {
                "name": "search_depth",
                "value": "basic"
              },
              {
                "name": "include_answer",
                "value": "basic"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.3,
        "position": [
          304,
          192
        ],
        "id": "f0abcdf9-09c7-4489-9347-c2d1de3f43ac",
        "name": "web_search",
        "credentials": {
          "httpHeaderAuth": {
            "id": "i1ZysJRbWJnno9ib",
            "name": "Tavily API"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "727bdea9-5954-44b7-9f98-caec9e454aa1",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          -16
        ],
        "id": "b4a17b04-2be6-42d8-978e-a06c627d1d1b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -32,
          192
        ],
        "id": "a5a429f2-7df2-4bde-8bdc-cb7043260073",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "qJ3tJlGTxwiZCORz",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "You are the Market Intelligence Unit of NemoAI. Your job is to fetch REAL-TIME data from the internet.\n\n## Your Role:\n- Search the web using the `web_search` tool.\n- Summarize findings objectively.\n- Focus on numbers, dates, prices, and facts.\n- NO FLUFF. Just data.\n\n## \u26a0\ufe0f OUTPUT FORMAT (JSON ONLY)\nRespond in VALID JSON format:\n{\n  \"intent\": \"market_research\",\n  \"summary\": \"Direct answer to the user's question (e.g., 'Today's gold price is 38 Lakhs').\",\n  \"sources\": [\n    {\"title\": \"Source Name\", \"url\": \"link...\"}\n  ],\n  \"data\": {\n    \"point_1\": \"Fact 1\",\n    \"point_2\": \"Fact 2\",\n    \"point_3\": \"Fact 3\"\n  },\n  \"confidence_score\": 0.95\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          96,
          -16
        ],
        "id": "686bdd78-312c-43f5-a0fc-908d0c1b92bd",
        "name": "The Researcher"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "The Researcher",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "web_search": {
        "ai_tool": [
          [
            {
              "node": "The Researcher",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "The Researcher",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "The Researcher": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thomas Htet",
    "name": "Version 153a266b",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-18T04:06:39.204Z",
        "id": 167,
        "workflowId": "Td29kBFdqAqSxBpo",
        "versionId": "153a266b-189b-4c2e-9864-767cc4c69ab9",
        "event": "activated",
        "userId": "f7f3363d-82da-4e53-bec2-260941d606e3"
      }
    ]
  }
}