workflows/core/n8n_agent_task_edit.json
{
    "name": "Agent Task Manager",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent-tasks",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook",
            "webhookId": "agent-tasks-webhook"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.output }}"
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                0
            ],
            "id": "webhook-response",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "You are a Task Management Assistant. You can view, update, and manage tasks for the user. \n\nWhen asked to update a task, use the 'update_task' tool. You will need the task ID. If the user doesn't provide it, ask for it or search for the task first (if search is available, otherwise ask).\n\nIMPORTANT: When using 'update_task', the 'updates' object MUST adhere to this schema:\n- title: string\n- description: string\n- status: 'pending' | 'in_progress' | 'completed' | 'archived'\n- priority: 'low' | 'medium' | 'high'\n\nDO NOT use any other values for status or priority. DO NOT put the title in the priority field. If you are unsure of the value, ask the user."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                400,
                0
            ],
            "id": "ai-agent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro-latest"
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                250
            ],
            "id": "google-gemini",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "googlePalmApi",
                    "name": "Google Gemini(PaLM) Api"
                }
            }
        },
        {
            "parameters": {
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                550,
                250
            ],
            "id": "memory",
            "name": "Window Buffer Memory"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "tasks",
                "updateKey": "id",
                "columns": "={{ $json.updates }}",
                "options": {}
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                250,
                250
            ],
            "id": "supabase-update-task",
            "name": "update_task",
            "credentials": {
                "supabaseApi": {
                    "id": "supabaseApi",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "update_task": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}